<!DOCTYPE html>
<html>
<head>
  <title>BuildingTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://data.cnbc.com/quotes/VNQ%2C%20">Make Money</a>
    </div>
  </div>
</div>


<div class="container">
  <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
  <% end %>

  <div class="row">
    <div class="span12"><%= yield %></div>
  </div>
</div>

</body>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
